<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from doksho.com/cryptod/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 May 2018 22:08:42 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cryptod</title>
    <meta name="description" content="Elfexo is a crypto exchange that enables you buy cryptocurrency using your local currency, it's easy, secure and faster">
    <meta name="keywords" content="elfexo">
    <meta name="author" content="enroutedigitallab">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ================= Favicon ================== -->
    <link rel="icon" type="image/png" sizes="192x192"  href="/theme/images/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/theme/images/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/theme/images/favicon/favicon.png">
    <link rel="icon" sizes="72x72" href="/theme/images/favicon/favicon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/theme/images/favicon/favicon.png">

    <!-- Google Font -->

    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i%7CRoboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- Bootstrap css-->
    <link rel="stylesheet" href="/theme/css/bootstrap.min.css">
    <!-- Font Awesome css-->

    <!-- animate css-->
    <link rel="stylesheet" href="/theme/css/animate.min.css">
    <!-- REVOLUTION SLIDER STYLES -->
    <link rel="stylesheet" type="text/css" href="/theme/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/theme/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/theme/css/navigation.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/theme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/theme/css/owl.theme.default.min.css">
    <!-- custom menu css-->
    <link rel="stylesheet" href="/theme/css/custom-menu.css">
    <!-- c3 min css-->
    <link rel="stylesheet" href="/theme/css/c3.min.css">
    <!-- Style css-->
    <link rel="stylesheet" href="/theme/css/style.css">
    <!-- Responsive css-->
    <link rel="stylesheet" href="/theme/css/responsive.css">
    <!-- Modernizr js-->
    <script src="/theme/js/modernizr-2.8.3.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- <style>
      .txtBoxForeColor{
       color:white
    }
    </style> -->
    <style>
    a {
        color: hotpink;
    }
    </style>
</head>
<body>
    <!--Preloader-->
    <div class="preloader">
        <div class="loading"></div>
    </div><!--/.preloader-->
    <!--header-->
    <header class="stricky">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav id="cssmenu">
                        <div class="logo">
                            <a href="index.html"><img src="/theme/images/logo.png" alt=""></a>
                        </div>
                        <div id="head-mobile"></div>
                        <div class="button"></div>
                        <ul class="pull-right header-list">
                            <li><a href="/">HOME</a></li>
                            <li><a href="#">COINS</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="/login">LOGIN</a></li>
                            <li><a href="#">CONTACT</a></li>
                            <!-- <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-full-width.html">Blog Fullwidth</a></li>
                                    <li><a href="blog-grid-two.html">Blog Grid Two</a></li>
                                    <li><a href="blog-grid-three.html">Blog Grid Three</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                            <li class="search-overlay"><a href="#"><i class="ion-search"></i></a></li> -->
                        </ul><!--/.pull-right-->
                    </nav><!--/#cssmenu-->
                </div>
            </div>
        </div>
    </header><!--/header-->
		<div class="col-lg-12">
					<div class="col-lg-3"></div>
					<div class="col-lg-6">

						{{#if success_msg}}
						<hr>
							<div class="alert alert-success">{{success_msg}}</div>
						{{/if}}

						{{#if error_msg}}
						<hr>
							<div class="alert alert-danger">{{error_msg}}</div>
						{{/if}}

						{{#if error}}
						<hr>
							<div class="alert alert-danger">{{error}}</div>
						{{/if}}
					</div>
					<div class="col-lg-3"></div>
      </div>
      {{{body}}}<p></p>

    <section class="footer-area">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="copyright-info">
                            <p>Copyright &copy;2018 Seamnet Technologies Scotland</p>
                        </div>
                    </div><!--/.copyright-info-->
                    <div class="col-md-6 col-sm-6">
                        <div class="social text-right content-align">
                            <ul>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-skype"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                            </ul>
                        </div><!--/.social-->
                    </div>
                </div>
            </div><!--/.copyright-->
    </section><!--/.footer area-->


    <!-- == jQuery Librery == -->
    <script src="/theme/js/jquery-3.3.1.min.js"></script>
    <!-- == Bootsrap js File == -->
    <script src="/theme/js/bootstrap.min.js"></script>
    <!-- == wow min js == -->
    <script src="/theme/js/wow.min.js"></script>
    <!-- == Custom Menu js == -->
    <script src="/theme/js/custom-menu.js"></script>
    <!-- == c3 min js == -->
    <script src="/theme/js/c3.min.js"></script>
    <!-- == d3 v3 min js == -->
    <script src="/theme/js/d3.v3.min.js"></script>
    <!-- == c3 Active js == -->
    <script src="/theme/js/c3-active.js"></script>
    <!-- == Prallex js == -->
    <script src="/theme/js/prallex.js"></script>
    <!-- == Owl Carousel  == -->
    <script src="/theme/js/owl.carousel.min.js"></script>
    <!-- == Revolution Slider JS == -->
   <script src="/theme/js/revolution/jquery.themepunch.tools.min.js"></script>
   <script src="/theme/js/revolution/jquery.themepunch.revolution.min.js"></script>
   <script src="/theme/js/revolution/extensions/revolution.extension.actions.min.js"></script>
   <script src="/theme/js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
   <script src="/theme/js/revolution/extensions/revolution.extension.navigation.min.js"></script>
   <script src="/theme/js/revolution/extensions/revolution.extension.parallax.min.js"></script>
   <script src="/theme/js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
   <script src="/theme/js/revolution-active.js"></script>
    <!-- == Custom js  == -->
   <script src="/theme/js/custom.js"></script>
</body>

<!-- Mirrored from doksho.com/cryptod/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 May 2018 22:09:46 GMT -->
</html>
