<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Elfexo - user panel</title>
	<link href="/dashboard/css/bootstrap.css" rel="stylesheet">
	<link href="/dashboard/css/font-awesome.min.css" rel="stylesheet">
	<link href="/dashboard/css/styles.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

	 <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

	 <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css" rel="stylesheet">

	 <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>

	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Elfexo</span>Admin</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">{{user.name}}</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>

		<ul class="nav menu">
			<li class="active"><a href="/dashboard"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
			{{#if user.roleId}}
	        <li><a href="/coinAdd"><em class="fa fa-bitcoin">&nbsp;</em> Manage Coins</a></li>
			{{/if}}

			<!-- {{#if user.roleId}} -->

		 <!-- {{/if}} -->
			<li><a href="/transaction/myTransaction"><em class="fa fa-bar-chart">&nbsp;</em> Transactions</a></li>
			 {{#if user.roleId}}
			    <li><a href="/transaction/allTransaction"><em class="fa fa-money">&nbsp;</em> All Transactions</a></li>
 	        <li><a href="/users"><em class="fa fa-users">&nbsp;</em> Users</a></li>
 			{{/if}}
			<li><a href="/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">

				</a></li>

			</ol>
		</div><!--/.row-->
    {{{body}}}
		<div class="row">
			<div class="col-sm-12">
				<p class="back-link">Designed by <a href="#">Seamnet Scotland</a></p>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->


	<script src="/dashboard/js/chart.min.js"></script>
	<script src="/dashboard/js/chart-data.js"></script>
	<script src="/dashboard/js/easypiechart.js"></script>
	<script src="/dashboard/js/easypiechart-data.js"></script>
	<script src="/dashboard/js/bootstrap-datepicker.js"></script>
	<script src="/dashboard/js/custom.js"></script>


</body>
</html>
