<form action "/coinAdd" method="POST" enctype="multipart/form-data">
    <a href="/coinListing" class="btn btn-primary">List Crypto</a><hr>
   <input class="form-control" placeholder="Coin name" type="text" name="coinName" ></input>
   <input class="form-control" placeholder="Selling price" type="text" name="sellPrice" ></input>
   <input class="form-control" placeholder="Buy price" type="text" name="buyPrice" ></input>
   <input class="form-control" placeholder="Initial name" type="text" name="initial" ></input><br/>
 <input class="form-control"  type="file" name="myimage" ></input><br/>
 <input class="btn btn-primary" type="submit" name="submit" value="submit"></input>
</form>
