
<div class="panel panel-container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      {{#if success_msg}}
      <hr>
        <div class="alert bg-info">{{success_msg}}</div>
      {{/if}}
    </div>

    <div class="col-lg-3"></div>
  </div>
</div>
