<div class="slider-section">
    <div id="rev_slider_1052_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="web-product-dark122" data-source="gallery">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
        <div id="rev_slider_1052_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
            <ul>	<!-- SLIDE  -->
                <li data-index="rs-2946" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" >
                    <!-- MAIN IMAGE -->
                    <img src="/theme/images/slider/slide-img.jpg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS 1-->
                    <div class="tp-caption tp-resizeme"
                         id="slide-2946-layer-7"
                         data-x="['middle','middle','middle','middle']"
                         data-hoffset="['-222','-100',0,'0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-150','-150','-80','-80']"
                         data-fontsize="['68','68','60','60']"
                         data-lineheight="['75','75','60','60']"
                         data-width="['700','700','none','none']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 5; white-space: nowrap; text-transform: capitalize; color: #fff; font-family: 'Lora', serif; font-weight: 700;">Join the digital currency world</div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme"
                         id="slide-2946-layer-10"
                         data-x="['middle','middle','middle','middle']"
                         data-hoffset="['-222','-100',0,'0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-70','-70','-10','-10']"
                         data-fontsize="['68','68','60','60']"
                         data-lineheight="['75','75','60','60']"
                         data-width="['700','700','none','none']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                        style="z-index: 5; white-space: nowrap; text-transform: capitalize; color: #fff; font-family: 'Lora', serif; font-weight: 700;">with Elfexo</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme"
                         id="slide-2946-layer-9"
                         data-x="['middle','middle','middle','middle']"
                         data-hoffset="['-222','-100',0,'0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['30','30','55','55']"
                         data-fontsize="['18','18','14','14']"
                         data-lineheight="['33','33','22','22']"
                         data-width="['700','700','none','none']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 5; white-space: nowrap; font-family: 'Roboto', sans-serif; color: #fff;">secure, fast and easy way to trade<br>
                        Buy Crytocurrency in Nigeria using Naira <br>
                        We Can Assist you to go about the Entire Process</div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption  tp-resizeme"
                         id="slide-2946-layer-8"
                         data-x="['middle','middle','middle','middle']"
                         data-hoffset="['-544','-422',0,'0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['140','140','140','140']"
                         data-width="['48','48','150','150']"
                         data-height="['48','48','48','48']"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2947","delay":""}]'
                         data-responsive_offset="on"
                         data-responsive="off"
                         data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(51, 51, 51, 1.00);bw:2px 2px 2px 2px;"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]" style="z-index: 5; text-transform: capitalize; white-space: nowrap; font-family: 'Lora', serif; font-weight: 700;">
                        <a style="color: #222;" href="#" class="cryptod-button-warning">Read More</a>
                    </div>
                </li>

            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;">
            </div>
        </div>
    </div><!--/.container-->
</div><!-- END REVOLUTION SLIDER -->
<section class="cryptocurrency-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cryptocurrency-slide custom-nav owl-carousel owl-theme boxshadow wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
                  {{#each cryptos}}
                    <div class="currency-price pr">
                        <div class="image">
                            <img src="/uploads/{{this.path}}" alt="">
                        </div>
                        <div class="text-content">
                            <h4><a href="#">{{this.coinName}}</a></h4>
                            <p class="dolar">{{this.buyPrice}}</p>
                            <p class="price-up"><span>%1.5</span></p>
                        </div>
                    </div>
                  {{/each}}

                </div><!--/.cryptocurrency slider-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/.curency section-->

<section class="bg-deep about-section">
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-md-6 col-sm-6">
                <div class="about-inner">
                    <div class="image">
                        <img class="img-responsive" src="/theme/images/blog/about-crypto.png" alt="">
                    </div>
                </div><!--/.about-inner-->
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-inner-text-content">
                    <div>
                        <h2>We can assist you buy<br>and manage digital currencies </h2>
                    </div>
                    <div class="about-inner">
                        <p class="text">We do not only sell to you, we also help you buy cryptocurrency, if need be. Our team comprises of experience traders, blockchain developers, and market analysts. We can work you through on how to go about the entire process.  </p>
                        <a class="cryptod-button-success" href="#">Read More</a>
                    </div>
                </div><!--/.about-inner-text-content-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/.about-section-->

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head text-center">
                    <h2>Crypto Currency</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                </div><!--/.section-head-->
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-4 col-sm-6">
                <div class="blog boxshadow wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <div class="image pr">
                        <img class="img-responsive" src="/theme/images/blog/crypto-1.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="text-content">
                        <h4><a href="#">Fast Service</a></h4>
                        <p>We handle your transactions with immediate effect by our responsive team.</p>
                    </div><!--/.text-content-->
                </div><!--/.blog-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="blog boxshadow wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".6s">
                    <div class="image pr">
                        <img class="img-responsive" src="/theme/images/blog/crypto-2.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="text-content">
                        <h4><a href="#">Safe And Secure</a></h4>
                        <p>Your transcations and information are encrypted and safe, we leverage end-to-end encryption to make it possible. </p>
                    </div><!--/.text-content-->
                </div><!--/.blog-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="blog boxshadow wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <div class="image pr">
                        <img class="img-responsive" src="/theme/images/blog/crypto-3.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="text-content">
                        <h4><a href="#">Responsive Team</a></h4>
                        <p>Our team is dedicated to handle your requests to your maximum satisfaction </p>
                    </div><!--/.text-content-->
                </div><!--/.blog-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/.cryptocurrency-->

<section class="parallax-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head text-center">
                    <h2 class="title-white">How it Works ?</h2>
                    <p class="title-white">If you don't know how to create a digital account, don't worry as it is part of our services. Just click on "Open Crypto Account" button and follow the intructions, we will take it from there afterwards. If you already have a crypto account, then you proceed to buying any of the digital currencies.   </p>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-4 col-sm-6">
                <div class="service-process text-center">
                    <div class="icon-icon pr">
                        <span><img src="/theme/images/icon/wallet.png" alt=""></span>
                        <span class="process-one">1</span>
                    </div>
                    <div class="text-content">
                        <h4><a href="#">Create An Account</a></h4>
                        <p>Creating an account essentially registers your information, including account details that will enable us serve you better, and get hold of you regarding transaction status. </p>
                    </div>
                </div><!--/.service-process-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-process text-center">
                    <div class="icon-icon pr">
                        <img src="/theme/images/icon/invest.png" alt="">
                        <span class="process-one">2</span>
                    </div>
                    <div class="text-content">
                        <h4><a href="#">Start Transaction</a></h4>
                        <p>Buying a digital currency is brief as you only need to select the coin you want to buy and enter important details such as wallet address and coin unit.</p>
                    </div>
                </div><!--/.service-process-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-process text-center">
                    <div class="icon-icon pr">
                        <img src="/theme/images/icon/sale.png" alt="">
                        <span class="process-one">3</span>
                    </div>
                    <div class="text-content">
                        <h4><a href="#">Get Funded</a></h4>
                        <p>Every transaction is associated with a reference id that makes it unique. We credit your digital account within 4-5 hours once we confirm it. </p>
                    </div>
                </div><!--/.service-process-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/.parallax section-->

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-3 col-sm-6">

            </div>
            <div class="col-md-3 col-sm-6">

            </div>
            <div class="col-md-3 col-sm-6">

            </div>
            <div class="col-md-3 col-sm-6">

            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/.team-section-->
