<div class="slider-section">
    <div id="rev_slider_1052_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="web-product-dark122" data-source="gallery">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
        <div id="rev_slider_1052_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
            <ul>	<!-- SLIDE  -->
                <li data-index="rs-2946" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" >
                    <!-- MAIN IMAGE -->
                    <img src="/theme/images/slider/slide-img.jpg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS 1-->
                    <div class="tp-caption tp-resizeme"
                         id="slide-2946-layer-7"
                         data-x="['middle','middle','middle','middle']"
                         data-hoffset="['-222','-100',0,'0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-150','-150','-80','-80']"
                         data-fontsize="['68','68','60','60']"
                         data-lineheight="['75','75','60','60']"
                         data-width="['700','700','none','none']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 5; white-space: nowrap; text-transform: capitalize; color: #fff; font-family: 'Lora', serif; font-weight: 700;">Start Making</div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme"
                         id="slide-2946-layer-10"
                         data-x="['middle','middle','middle','middle']"
                         data-hoffset="['-222','-100',0,'0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-70','-70','-10','-10']"
                         data-fontsize="['68','68','60','60']"
                         data-lineheight="['75','75','60','60']"
                         data-width="['700','700','none','none']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                        style="z-index: 5; white-space: nowrap; text-transform: capitalize; color: #fff; font-family: 'Lora', serif; font-weight: 700;">Crypto Currency</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme"
                         id="slide-2946-layer-9"
                         data-x="['middle','middle','middle','middle']"
                         data-hoffset="['-222','-100',0,'0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['30','30','55','55']"
                         data-fontsize="['18','18','14','14']"
                         data-lineheight="['33','33','22','22']"
                         data-width="['700','700','none','none']"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 5; white-space: nowrap; font-family: 'Roboto', sans-serif; color: #fff;">He the system ands expound ta actual an happiness. No one rejects<br>
                        leasure have to be repudiate and annoyances<br>
                        and avoipleasure but because</div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption  tp-resizeme"
                         id="slide-2946-layer-8"
                         data-x="['middle','middle','middle','middle']"
                         data-hoffset="['-544','-422',0,'0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['140','140','140','140']"
                         data-width="['48','48','150','150']"
                         data-height="['48','48','48','48']"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2947","delay":""}]'
                         data-responsive_offset="on"
                         data-responsive="off"
                         data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(51, 51, 51, 1.00);bw:2px 2px 2px 2px;"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]" style="z-index: 5; text-transform: capitalize; white-space: nowrap; font-family: 'Lora', serif; font-weight: 700;">
                        <a style="color: #222;" href="#" class="cryptod-button-warning">Read More</a>
                    </div>
                </li>
                <li data-index="rs-2947" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" >

                    <!-- MAIN IMAGE -->
                    <img src="/theme/images/slider/slide-img-2.jpg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS 1-->
                        <div class="tp-caption tp-resizeme"
                             id="slide-2947-layer-7"
                             data-x="['middle','middle','middle','middle']"
                             data-hoffset="['-222','-100',0,'0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-150','-150','-80','-80']"
                             data-fontsize="['76','76','60','60']"
                             data-lineheight="['75','75','60','60']"
                             data-width="['700','700','none','none']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                             data-textAlign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 5; white-space: nowrap; text-transform: capitalize; color: #fff; font-family: 'Lora', serif; font-weight: 700;">Welcome to the</div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-2947-layer-10"
                             data-x="['middle','middle','middle','middle']"
                             data-hoffset="['-222','-100',0,'0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-70','-70','-10','-10']"
                             data-fontsize="['76','76','60','60']"
                             data-lineheight="['75','75','60','60']"
                             data-width="['700','700','none','none']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                             data-textAlign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                            style="z-index: 5; white-space: nowrap; text-transform: capitalize; color: #fff; font-family: 'Lora', serif; font-weight: 700;">Future of Currency</div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-2947-layer-9"
                             data-x="['middle','middle','middle','middle']"
                             data-hoffset="['-222','-100',0,'0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['30','30','55','55']"
                             data-fontsize="['18','18','14','14']"
                             data-lineheight="['33','33','22','22']"
                             data-width="['700','700','none','none']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                             data-textAlign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-family: 'Roboto', sans-serif; color: #fff;">He the system ands expound ta actual an happiness. No one rejects<br>
                            leasure have to be repudiate and annoyances<br>
                            and avoipleasure but because</div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption  tp-resizeme"
                             id="slide-2947-layer-8"
                             data-x="['middle','middle','middle','middle']"
                             data-hoffset="['-544','-422',0,'0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['140','140','140','140']"
                             data-width="['48','48','150','150']"
                             data-height="['48','48','48','48']"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2947","delay":""}]'
                             data-responsive_offset="on"
                             data-responsive="off"
                             data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(51, 51, 51, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]" style="z-index: 5; text-transform: capitalize; white-space: nowrap; font-family: 'Lora', serif; font-weight: 700;">
                            <a style="color: #222;" href="#" class="cryptod-button-warning">Read More</a>
                        </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;">
            </div>
        </div>
    </div><!--/.container-->
</div><!-- END REVOLUTION SLIDER -->
<section class="cryptocurrency-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cryptocurrency-slide custom-nav owl-carousel owl-theme boxshadow wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
                    <div class="currency-price pr">
                        <div class="image">
                            <img src="/theme/images/icon/bitcoin.png" alt="">
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Bitcoin</a></h4>
                            <p class="dolar">9,380.05</p>
                            <p class="price-up"><span>%1.5</span></p>
                        </div>
                    </div><!--/.currency-price-->
                    <div class="currency-price pr">
                        <div class="image">
                            <img src="/theme/images/icon/ripple.png" alt="">
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Ripple</a></h4>
                            <p class="dolar">9,380.05</p>
                            <p class="price-down"><span>%1.5</span></p>
                        </div>
                    </div><!--/.currency-price-->
                    <div class="currency-price pr">
                        <div class="image">
                            <img src="/theme/images/icon/monero.png" alt="">
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Monerro</a></h4>
                            <p class="dolar">9,380.05</p>
                            <p class="price-up"><span>%1.5</span></p>
                        </div>
                    </div><!--/.currency-price-->
                    <div class="currency-price pr">
                        <div class="image">
                            <img src="/theme/images/icon/ethereum.png" alt="">
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Ethereum</a></h4>
                            <p class="dolar">9,380.05</p>
                            <p class="price-down"><span>%1.5</span></p>
                        </div>
                    </div><!--/.currency-price-->
                    <div class="currency-price pr">
                        <div class="image">
                            <img src="/theme/images/icon/litecoin.png" alt="">
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Litecoin</a></h4>
                            <p class="dolar">9,380.05</p>
                            <p class="price-down"><span>%1.5</span></p>
                        </div>
                    </div><!--/.currency-price-->
                    <div class="currency-price pr">
                        <div class="image">
                            <img src="/theme/images/icon/bitcoin.png" alt="">
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Bitcoin</a></h4>
                            <p class="dolar">9,380.05</p>
                            <p class="price-up"><span>%1.5</span></p>
                        </div>
                    </div><!--/.currency-price-->
                    <div class="currency-price pr">
                        <div class="image">
                            <img src="/theme/images/icon/ripple.png" alt="">
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Ripple</a></h4>
                            <p class="dolar">9,380.05</p>
                            <p class="price-up"><span>%1.5</span></p>
                        </div>
                    </div><!--/.currency-price-->
                    <div class="currency-price pr">
                        <div class="image">
                            <img src="/theme/images/icon/monero.png" alt="">
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Monerro</a></h4>
                            <p class="dolar">9,380.05</p>
                            <p class="price-down"><span>%1.5</span></p>
                        </div>
                    </div><!--/.currency-price-->
                    <div class="currency-price pr">
                        <div class="image">
                            <img src="/theme/images/icon/ethereum.png" alt="">
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Ethereum</a></h4>
                            <p class="dolar">9,380.05</p>
                            <p class="price-down"><span>%1.5</span></p>
                        </div>
                    </div><!--/.currency-price-->
                    <div class="currency-price pr">
                        <div class="image">
                            <img src="/theme/images/icon/litecoin.png" alt="">
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Litecoin</a></h4>
                            <p class="dolar">9,380.05</p>
                            <p class="price-up"><span>%1.5</span></p>
                        </div>
                    </div><!--/.currency-price-->
                    <div class="currency-price pr">
                        <div class="image">
                            <img src="/theme/images/icon/bitcoin.png" alt="">
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Bitcoin</a></h4>
                            <p class="dolar">9,380.05</p>
                            <p class="price-down"><span>%1.5</span></p>
                        </div>
                    </div><!--/.currency-price-->
                </div><!--/.cryptocurrency slider-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/.curency section-->

<section class="bg-deep about-section">
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-md-6 col-sm-6">
                <div class="about-inner">
                    <div class="image">
                        <img class="img-responsive" src="/theme/images/blog/about-crypto.png" alt="">
                    </div>
                </div><!--/.about-inner-->
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-inner-text-content">
                    <div>
                        <h2>Learn About <br>Crypto Currency</h2>
                    </div>
                    <div class="about-inner">
                        <p class="text">our power of choice is untrammelled and when nothing prevents our being able to do
                            leasure to be welcomed and every pain avoided But in certan circumstances and own
                            obligations of business it will frequently occur that pleasures have to be repudiated a
                            man therefore always holds in these matters to this principle of selection</p>
                        <a class="cryptod-button-success" href="#">Read More</a>
                    </div>
                </div><!--/.about-inner-text-content-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/.about-section-->

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head text-center">
                    <h2>Crypto Currency</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                </div><!--/.section-head-->
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-4 col-sm-6">
                <div class="blog boxshadow wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <div class="image pr">
                        <img class="img-responsive" src="/theme/images/blog/crypto-1.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="text-content">
                        <h4><a href="#">Bitcoin vs Ripple</a></h4>
                        <p>Do the system ands expound tha actual
                            an happiness. No one rejects and avoid
                            pleasure but because</p>
                    </div><!--/.text-content-->
                </div><!--/.blog-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="blog boxshadow wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".6s">
                    <div class="image pr">
                        <img class="img-responsive" src="/theme/images/blog/crypto-2.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="text-content">
                        <h4><a href="#">Future of Crypto currency</a></h4>
                        <p>Do the system ands expound tha actual
                            an happiness. No one rejects and avoid
                            pleasure but because</p>
                    </div><!--/.text-content-->
                </div><!--/.blog-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="blog boxshadow wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <div class="image pr">
                        <img class="img-responsive" src="/theme/images/blog/crypto-3.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="text-content">
                        <h4><a href="#">Risk Management</a></h4>
                        <p>Do the system ands expound tha actual
                            an happiness. No one rejects and avoid
                            pleasure but because</p>
                    </div><!--/.text-content-->
                </div><!--/.blog-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/.cryptocurrency-->

<div id="counter" class="counter-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="achivement">
                    <h2>Our Achievement Always <span>Inspires</span> to help Other's Business.</h2>
                </div><!--/.achivement-->
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="counter-up">
                            <div class="counter-value" data-count="1000">
                            </div>
                            <h4><a href="#">Coin Invedstment</a></h4>
                        </div><!--/.counter-up-->
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="counter-up">
                            <div class="counter-value" data-count="72">
                            </div>
                            <h4><a href="#">Sles Per Minute</a></h4>
                        </div><!--/.counter-up-->
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="counter-up">
                            <div class="counter-value" data-count="100">
                                %
                            </div>
                            <h4><a href="#">Trusted Trade</a></h4>
                        </div><!--/.counter-up-->
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</div><!--/#counter-->

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head text-center">
                    <h2>Growth of Crypto Currency</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="chart"></div>
            </div>
        </div>
    </div>
</section><!--/.section-padding-->

<section class="parallax-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head text-center">
                    <h2 class="title-white">How it Works ?</h2>
                    <p class="title-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-4 col-sm-6">
                <div class="service-process text-center">
                    <div class="icon-icon pr">
                        <span><img src="/theme/images/icon/wallet.png" alt=""></span>
                        <span class="process-one">1</span>
                    </div>
                    <div class="text-content">
                        <h4><a href="#">Create A Wallet</a></h4>
                        <p>Has survived not only five centuries but also
                            leap onto electronics type setting remaining
                            essential unchanged was popular</p>
                    </div>
                </div><!--/.service-process-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-process text-center">
                    <div class="icon-icon pr">
                        <img src="/theme/images/icon/invest.png" alt="">
                        <span class="process-one">2</span>
                    </div>
                    <div class="text-content">
                        <h4><a href="#">Create A Wallet</a></h4>
                        <p>Has survived not only five centuries but also
                            leap onto electronics type setting remaining
                            essential unchanged was popular</p>
                    </div>
                </div><!--/.service-process-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-process text-center">
                    <div class="icon-icon pr">
                        <img src="/theme/images/icon/sale.png" alt="">
                        <span class="process-one">3</span>
                    </div>
                    <div class="text-content">
                        <h4><a href="#">Create A Wallet</a></h4>
                        <p>Has survived not only five centuries but also
                            leap onto electronics type setting remaining
                            essential unchanged was popular</p>
                    </div>
                </div><!--/.service-process-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/.parallax section-->

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head text-center">
                    <h2>Expert Team</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-3 col-sm-6">
                <div class="expert-team boxshadow wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <div class="image pr">
                        <img class="img-responsive" src="/theme/images/team/team-1.jpg" alt="">
                        <div class="overlay"></div>
                        <div class="social text-center">
                            <ul>
                                <li class="facebook-social"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-skype"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-content">
                        <div>
                            <h4><a href="#">Lisa Gibson</a></h4>
                            <span class="designation">Director</span>
                        </div>
                    </div>
                </div><!--/.expert-team-->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="expert-team boxshadow wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
                    <div class="image pr">
                        <img class="img-responsive" src="/theme/images/team/team-2.jpg" alt="">
                        <div class="overlay"></div>
                        <div class="social text-center">
                            <ul>
                                <li class="facebook-social"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-skype"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-content">
                        <div>
                            <h4><a href="#">Andrew Paul</a></h4>
                            <span class="designation">Director</span>
                        </div>
                    </div>
                </div><!--/.expert-team-->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="expert-team boxshadow wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <div class="image pr">
                        <img class="img-responsive" src="/theme/images/team/team-3.jpg" alt="">
                        <div class="overlay"></div>
                        <div class="social text-center">
                            <ul>
                                <li class="facebook-social"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-skype"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-content">
                        <div>
                            <h4><a href="#">Emma Paul</a></h4>
                            <span class="designation">Director</span>
                        </div>
                    </div>
                </div><!--/.expert-team-->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="expert-team boxshadow wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
                    <div class="image pr">
                        <img class="img-responsive" src="/theme/images/team/team-4.jpg" alt="">
                        <div class="overlay"></div>
                        <div class="social text-center">
                            <ul>
                                <li class="facebook-social"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-skype"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-content">
                        <div>
                            <h4><a href="#">David Gibson</a></h4>
                            <span class="designation">Director</span>
                        </div>
                    </div>
                </div><!--/.expert-team-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/.team-section-->

<section class="testimonial-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-slider owl-carousel">
                    <div class="testimonial text-center">
                        <h2>Testimonials</h2>
                        <div class="quote-icon">
                            <i class="ion-quote"></i>
                        </div>

                        <p class="item-text">The create amazings and tight duration presented you with were undoub a challenge
                            everon is ver happ with how well a team delivered. Create amazin tight duration pres
                            everyone is very happy with how well your team</p>

                        <div class="star-rating">
                            <span class="ion-android-star"></span>
                            <span class="ion-android-star"></span>
                            <span class="ion-android-star"></span>
                            <span class="ion-android-star"></span>
                            <span class="ion-android-star"></span>
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Jordan Hopes</a></h4>
                            <p>Finance Expo</p>
                        </div>
                    </div><!--/.testimonial-->
                    <div class="testimonial text-center">
                        <h2>Testimonials</h2>
                        <div class="quote-icon">
                            <i class="ion-quote"></i>
                        </div>

                        <p class="item-text">The create amazings and tight duration presented you with were undoub a challenge
                            everon is ver happ with how well a team delivered. Create amazin tight duration pres
                            everyone is very happy with how well your team</p>

                        <div class="star-rating">
                            <span class="ion-android-star"></span>
                            <span class="ion-android-star"></span>
                            <span class="ion-android-star"></span>
                            <span class="ion-android-star"></span>
                            <span class="ion-android-star"></span>
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Jordan Hopes</a></h4>
                            <p>Finance Expo</p>
                        </div>
                    </div><!--/.testimonial-->
                    <div class="testimonial text-center">
                        <h2>Testimonials</h2>
                        <div class="quote-icon">
                            <i class="ion-quote"></i>
                        </div>

                        <p class="item-text">The create amazings and tight duration presented you with were undoub a challenge
                            everon is ver happ with how well a team delivered. Create amazin tight duration pres
                            everyone is very happy with how well your team</p>

                        <div class="star-rating">
                            <span class="ion-android-star"></span>
                            <span class="ion-android-star"></span>
                            <span class="ion-android-star"></span>
                            <span class="ion-android-star"></span>
                            <span class="ion-android-star"></span>
                        </div>
                        <div class="text-content">
                            <h4><a href="#">Jordan Hopes</a></h4>
                            <p>Finance Expo</p>
                        </div>
                    </div><!--/.testimonial-->
                </div>
            </div>
        </div>
    </div>
</section><!--/.testimonial-section-->

<div class="quote-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="text-quote">
                    <h3>He system ands expound ta actual an happiness</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="button-area text-right content-align">
                    <a class="cryptod-button-success" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div><!--/.quote-section-->

<section class="section-padding">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-head text-center">
                        <h2>News & Blog</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-4 col-sm-6">
                <div class="blog boxshadow wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <div class="image pr">
                        <div class="overlay"></div>
                        <img class="img-responsive" src="/theme/images/blog/crypto-1.jpg" alt="">
                        <div class="meta-tag">
                            <span class="date-month">20 Feb</span>
                        </div>
                    </div><!--/.image-->
                    <div class="text-content">
                        <h4><a href="#">Bitcoin vs Ripple</a></h4>
                        <div class="tag-list">
                            <a href="#"><span><i class="ion-person"></i>Admin</span></a>
                            <a href="#"><span><i class="ion-chatbubbles"></i>Comment</span></a>
                            <a href="#"><span><i class="ion-thumbsup"></i>Like</span></a>
                        </div>
                        <p>Do the system ands expound tha actual
                            an happiness. No one rejects and avoid
                            pleasure but because</p>
                    </div><!--/.text-content-->
                </div><!--/.blog-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="blog boxshadow wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".6s">
                    <div class="image pr">
                        <div class="overlay"></div>
                        <img class="img-responsive" src="/theme/images/blog/crypto-2.jpg" alt="">
                        <div class="meta-tag">
                            <span class="date-month">17 Mar</span>
                        </div>
                    </div><!--/.image-->
                    <div class="text-content">
                        <h4><a href="#">Future of Crypto currency</a></h4>
                        <div class="tag-list">
                            <a href="#"><span><i class="ion-person"></i>Admin</span></a>
                            <a href="#"><span><i class="ion-chatbubbles"></i>Comment</span></a>
                            <a href="#"><span><i class="ion-thumbsup"></i>Like</span></a>
                        </div>
                        <p>Do the system ands expound tha actual
                            an happiness. No one rejects and avoid
                            pleasure but because</p>
                    </div><!--/.text-content-->
                </div><!--/.blog-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="blog boxshadow wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <div class="image pr">
                        <div class="overlay"></div>
                        <img class="img-responsive" src="/theme/images/blog/crypto-3.jpg" alt="">
                        <div class="meta-tag">
                            <span class="date-month">21 Jun</span>
                        </div>
                    </div><!--/.image-->
                    <div class="text-content">
                        <h4><a href="#">Risk Management</a></h4>
                        <div class="tag-list">
                            <a href="#"><span><i class="ion-person"></i>Admin</span></a>
                            <a href="#"><span><i class="ion-chatbubbles"></i>Comment</span></a>
                            <a href="#"><span><i class="ion-thumbsup"></i>Like</span></a>
                        </div>
                        <p>Do the system ands expound tha actual
                            an happiness. No one rejects and avoid
                            pleasure but because</p>
                    </div><!--/.text-content-->
                </div><!--/.blog-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/.section-padding-->
