
<link rel="stylesheet" href="/css/login.css">


        <div class="wrapper fadeInDown">
          <div id="formContent">
            <div class="fadeIn first">
            
              <h1>Elfexo</h1>
            </div>

            <!-- Login Form -->
              <form method="post" action="/login">
              <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
              <input type="password" id="login" class="fadeIn third" name="password" placeholder="password">

              <input type="submit" class="fadeIn fourth" value="Login">
              <div class="fadeIn third">
                  <div  style="width:40%" class="g-recaptcha" data-sitekey="6Lc-zXIUAAAAACe_rS1Q8DP7BNbly8LolGJGxcb3"></div>
              </div>

              <div style="text-align:center">Don't have an account? Register <a href="/register">here</a>.</div>
              <div style="text-align:center"> <a href="/forgotPassword">Forgot password?</a>.</div>
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
              <a class="underlineHover" href="#">Go to the Site</a>
            </div>

          </div>
        </div>
    </form>
